<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>メンバー管理</title>
    <h1 align="center">メンバー管理</h1>
</head>
<body>
<div1>
    <table style="margin: auto;align-content: center;">
        <tr>
            名前<input type="text" name="name">
            科目<select name="subject"><option value="0">全て</option><option value="1">JAVA</option>
            <option value="2">HTML</option><option value="3">JS</option><option value="4">C#</option></select>
            成績<input type="text" name="grade"><br>
            <br>
            <br>

    </table>
</div1>

<div2 style="margin:250px;align:center">
    <table border="1" cellspacing="0" style="width: 500px;height: 100px" >

        <tr>
            <th>名前</th>
            <th>科目</th>
            <th>成績</th>
            <th>操作</th>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button>変更</button></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button>変更</button></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button>変更</button></td>
        </tr>
    </table>
</div2>
<div3>
    <form align="center">
        名前<input type="text" name="newname">
        科目<select name="newsubject"><option value="0">全て</option><option value="1">JAVA</option>
        <option value="2">HTML</option><option value="3">JS</option><option value="4">C#</option></select>
        成績<input type="text" name="newgrade"><br>
        <br>
        <br>
        <tr>
            <td></td><td></td><td><a class="btn-primary" th:href="@{/menu}">メニュー画面に戻る</a></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></td>
            <td><button>更新する</button></td>
        </tr>
    </form>
</div3>
</body>
</html>