<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新規成績画面</title>
    <!--    <style>-->
    <!--        table,tr,td{-->
    <!--            border: 1px solid black;-->
    <!--        }-->
    <!--    </style>-->
</head>
<body>
<h1 align="center">新規成績画面</h1>
<form align="center">
    名前<input type="text" id="name">
    科目<select id="subject"><option value="0">全て</option><option value="1">JAVA</option>
    <option value="2">HTML</option><option value="3">JS</option><option value="4">C#</option></select>
    成績<input type="text" id="grade"><br>
    <br>
    <br>
    <br>
    <br>
</form>
<div align="center">
    <table>
        <!--    <tr>-->
        <!--        <td>td1</td>-->
        <!--        <td>td2</td>-->
        <!--    </tr >-->
        <!--    <tr >-->
        <!--        <td>td3</td>-->
        <!--        <td >-->
        <!--            <button>button</button>-->
        <!--        </td>-->
        <!--    </tr>-->
        <tr>
            <td><button>新規追加</button></td><td></td><td><button>メニュー画面に戻る</button></td>
            </td>
        </tr>
    </table>
</div>
</body>
</html>