<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規成績画面</title>

</head>
<body>
<h1 align="center">新規成績画面</h1>
<form align="center" class="" method="post" th:action="@{/newgrade}">
    名前<input type="text" name="name">
    科目<select name="course_name"><option th:each="course:${courseList}" th:text="${course.getCourse_name()}" th:value="${course.getCourse_name()}"/></select>
    成績<input type="text" name="grade"><br>
    <br>
    <br>
    <br>
    <br>

<div align="center">
    <table>
        <tr>
            <td><input class="btn-primary" type="submit" value="新規追加"/></td><td></td><td>
            <a class="btn-primary" th:href="@{/menu}">メニュー画面に戻る</a></td>
            </td>
        </tr>
    </table>
</div>
</form>
</body>
</html>