<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規メンバー</title>
<!--    <style>-->
<!--        table,tr,td{-->
<!--            border: 1px solid black;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<h1 align="center">新規メンバー画面</h1>
<form align="center"　method="post" th:action="@{/addMember}">
    名前<input type="text" name="name">
    性別<select name="sex"><option value="0"></option><option value="1">男性</option>
    <option value="2">女性</option></select>
    住所<input type="text" name="address"><br>
    年齢<input type="text" name="age">
    携帯番号<input type="text" name="phone">
    <br>
    <br>
    <br>
    <br>
</form>
<div align="center">
    <table>
    <tr>
        <td><input class="btn-primary" type="submit" value="新規追加"/></td><td></td><td>
        <a class="btn-primary" th:href="@{/menu}">メニュー画面に戻る</a></td>
    </td>
    </tr>
    </table>
</div>
</body>
</html>