<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新規メンバー</title>
<!--    <style>-->
<!--        table,tr,td{-->
<!--            border: 1px solid black;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<h1 align="center">新規メンバー画面</h1>
<form align="center">
    名前<input type="text" id="name">
    性別<select id="sex"><option value="0"></option><option value="1">男性</option>
    <option value="2">女性</option></select>
    住所<input type="text" id="address"><br>
    年齢<input type="text" id="age">
    携帯番号<input type="text" id="phone">
    <br>
    <br>
    <br>
    <br>
</form>
<div align="center">
    <table>
<!--    <tr>-->
<!--        <td>td1</td>-->
<!--        <td>td2</td>-->
<!--    </tr >-->
<!--    <tr >-->
<!--        <td>td3</td>-->
<!--        <td >-->
<!--            <button>button</button>-->
<!--        </td>-->
<!--    </tr>-->
    <tr>
        <td><button>新規追加</button></td><td></td><td><button>メニュー画面に戻る</button></td>
    </td>
    </tr>
    </table>
</div>
</body>
</html>